[user]
	email = mack@mackstump.com
	name = Mack Stump
[alias]
    s  = status
	lg = log --pretty=oneline --abbrev-commit --graph --all --decorate --show-signature
[color]
	ui = true
[core]
	editor = nvim
[push]
	default = simple
